html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Avantt", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
}

.login-container {
  width: 424px;
  max-width: 80%;
  background: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  height: 200px;
  width: auto;
  margin: 0 auto;
  display: block;
}

@media (max-width: 400px) {
  .login-container {
    width: 400px;
    max-width: 80%;
    background: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  .logo {
    height: 150px;
  }
}
