.signup-container {
  width: 400px;
  max-width: 80%;
  background: #fff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.wrapper-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 400px) {
  .signup-container {
    width: 350px;
    max-width: 80%;
    background: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  .logo {
    height: 150px;
  }
}
