html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Avantt', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 400px;
  max-width: 90%;
  background: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.signup-container {
  width: 400px;
  max-width: 90%;
  background: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
}
