.home-wrapper {
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  height: calc(100vh - 48px);
}

.scrollable-content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.select-container {
  margin-bottom: 16px;
}

.select {
  width: 100%;
}

.nu-button {
  width: 100%;
  margin-bottom: 24px;
  padding: 1rem;
}

.results {
  overflow-y: auto;
}

.result-card {
  margin-bottom: 16px;
}

.back-button {
  margin-top: 24px;
  padding: 1rem;
}

.mute-button {
  width: 100%;
  margin-bottom: 12px;
  padding: 1rem;
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  align-self: center;
}

.title-icon {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 480px) {
  .home-wrapper {
    padding: 16px;
  }

  .title {
    font-size: 1.5rem;
  }

  .result-card {
    padding: 12px;
  }

  .nu-button,
  .select {
    font-size: 1rem;
  }
}
