@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Thin-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-ThinItalic-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-ExtraBold-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-ExtraBoldItalic-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Bold-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-BoldItalic-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-SemiBold-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-SemiBoldItalic-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Medium-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-MediumItalic-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Regular-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-RegularItalic-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Light-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-LightItalic-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Heavy-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-HeavyItalic-BF6721a8b7b7b52.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: 'Avantt', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
