@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIAL-HeavyItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* VF = Variable Font */
@font-face {
  font-family: 'Avantt';
  src: url('./assets/fonts/AvanttTRIALVF.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Avantt', sans-serif;
}

#root {
  max-width: 1280px;
/*   margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
